li {
  display: inline;
 }

.contact {
    text-align: center;
}

.footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: blue;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}